.rating-stars {
    list-style:left;
    margin: 0;
    padding: 0;
}

.star {
    display: inline-block;
    font-size: 30px;
    color: rgb(255, 161, 66);
    cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

.star.active {
    color: gold;
}
.fa-star{
    color:rgb(255, 161, 66);
}
.star1 {
    display: inline-block;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.star1:hover,
.star1:hover ~ .star {
    color: gold;
}

.star1.active {
    color: gold;
}
.fa-star1{
    color:rgb(255, 161, 66);
}